<h1>Contact us</h1>
<p>If you have any questions please do not hesitate to contact us:</p>

@* Using Address and Content properties that we created on EmailTagHelper.cs *@
<email address="teixeira.lipe@gmail.com" content="Email us"></email>